.recipe {
    background-color: #ACF39D;
    color: #3A1820;
    display: flex;
    flex-direction: column;
    border: #E85F5C;
    border-style: solid;
    padding: 1em;
}

button {
    background-color: #E85F5C;
    color: cornsilk;
    cursor: pointer;
    width: 50%;
}